<!-- views/index.erb -->
<form action="/" method="post">
  Número 1: <input type="text" name="numero1" /><br>
  Número 2: <input type="text" name="numero2" /><br>
  <input type="submit" value="Calcular Suma" />
</form>

<% if @suma %>
  <h2>Resultado: <%= @suma %></h2>
<% end %>
